@import "~bootstrap/scss/bootstrap";

// Dropzone styles

 #upload-image-dropzone-wrapper {
	background-color: #eee;
	border: 2px solid #999;

	&.drag-accept {
		background-color: rgb(250, 250, 250);
		border-color: green;
		color: #155724;
	}

	&.drag-reject {
		background-color: rgb(250, 250, 250);
		border-color: red;
		color: #721c24;
	}
}



.navigation {
    border-bottom: 1px solid black;
}