@import 'styles/colors';

/* Alerts */

.alert {
	margin-top: 1rem;
}

.alert-info {
	background-color: $turqouise-light;
}

.alert__count,
.alert__upload {
	display: inline-block;
}

.swal-overlay {
	background-color: rgba(129, 125, 125, 0.4);
}