/* Main app colors */

// Colors
$accent-dark: #20303ce6;
$accent-light: #e3e8ed;
$grey-light: #EFEFEF;
$pink-light: #F8DFDB;
$pink: #D8A09F;
$pink-dark: #724140;
$red: #E64942;
$red-dark: #ac3530;
$red-darker: #612B29;
$soft-grey: #F8F8F8;
$turqouise-light: #eff7f8;
$turqouise: #bee5eb;;
$turqouise-dark: #4a7070;
$turqouise-darker: #3F575E;


// Button colors
$button-primary: $turqouise-darker;
$button-primary-hover: $turqouise-dark;
$button-primary-border: $turqouise-dark;
$button-primary-box-shadow: 0 0 0 .2rem rgb(189, 232, 238);

$button-secondary: $pink-dark;
$button-secondary-hover: $pink;
$button-secondary-border: $pink;
$button-secondary-box-shadow: 0 0 0 .2rem rgb(248, 223, 219);

$button-danger: $red-dark;
$button-danger-hover: $red;
$button-danger-border: $red;
$button-danger-box-shadow: 0 0 0 .2rem rgb(216, 140, 137);;


