@import 'styles/colors';

/* Icons */

.button-icon {
	font-size: 1.5rem;
	margin-right: 0.3rem;

	&.button-icon--small {
		font-size: 1rem;
		margin-right: 0.2rem;
	}

	&.button-icon--edit {
		font-size: 0.8rem;
	}
}

.icon__arrow-left {
	margin-right: 0.5rem;
}

.icon__arrow-right {
	margin-left: 0.5rem;
}

.icon__delete-album {
	color: $red-darker;
	font-size: 1.5rem;
	cursor: pointer;

	&:hover {
		color: $red-dark;
	}
}

.icon__dislike {
	color: $red;
	font-size: 1.3rem;
	cursor: pointer;

	&.icon__dislike--ingress {
		font-size: 0.8rem;
		margin: 0 0.3rem;
	}
}

.icon__exit {
	margin-left: 0.8rem;
	margin-right: 0;
	cursor: pointer;
}

.icon__like {
	color: $turquoise-dark;
	font-size: 1.3rem;
	margin-left: 1rem;
	cursor: pointer;

	&.icon__like--ingress {
		font-size: 0.8rem;
		margin: 0 0.3rem;
	}
}

.icon__login {
	width: 120%;
	height: auto;

	&:hover { 
		color: $turquoise-dark;
		font-size: 1.2rem;
	}

	// Desktop 
	@media only screen and (min-width: 992px) {
		width: 130%;
		height: auto;	
	}
}

.icon__not-found {
	color: $yellow-dark;
	font-size: 3rem;
	margin-top: 3rem;
	margin-bottom: 2rem;

	// Desktop 
	@media only screen and (min-width: 992px) {
		font-size: 4rem;
	}
}

.icon__undo {
	color: $turquoise-dark;
	background-color: white;
	border-radius: 100%;
	padding: 0.2rem;
	font-size: 1.5rem;
	position: absolute;
	bottom: 0;
	right: 0;

	&:hover {
		font-size: 1.6rem;
	}
}

.icon.selected {
	font-size: 1.8rem;
}