@import 'styles/colors';

/* Links */

.link-wrapper {
	margin-top: 2rem;
}

.invite-link-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	color: black;
	text-decoration: none;

	&:hover { 
		color: $pink-dark;
		text-decoration: none; 
	}

	&.login {
		margin-left: 1.5rem;

		// Tablet
		@media only screen and (min-width: 768px) {
			margin-left: 3rem;
		}
	}

	&.navlink {
		font-weight: 300;

		&:hover {
			font-weight: 400;	
		}
	}


	&.text-link {
		font-weight: 400;
	
		&:hover { 
			text-decoration: none; 	
		}
	}
}

.text-link--edit {
	font-size: 0.8rem;
	margin-bottom: 2rem;
	margin-left: 2rem;
	cursor: pointer;
}