@import 'styles/colors';
@import 'styles/typography';

/* Links */

.link-wrapper {
	margin-top: 2rem;
}

.invite-link-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link {
	color: black;
	text-decoration: none;

	&:hover { 
		color: $turquoise-darker;
		text-decoration: none; 
	}

	&.login {
		margin-left: 1.5rem;

		// Tablet
		@media only screen and (min-width: 768px) {
			margin-left: 3rem;
		}
	}

	&.navlink {
		font-family: $font-family-headings;
		text-transform: uppercase;
	}

	&.breadcrumb-link > a {
		color: black;
		
		&:hover { 
			color: $turquoise-darker;
			text-decoration: none; 
		}
    }
}

.text-link {
	font-weight: 400;

	&:hover { 
		text-decoration: none; 	
	}
}

.text-link--edit {
	text-transform: none;
	font-size: 1rem;
	margin-bottom: 2rem;
	margin-left: 2rem;
	cursor: pointer;
}

