@import 'styles/colors';

/* Page logo */

.logo-wrapper {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	font-weight: 300;
	white-space: nowrap;

	.logo {
		width: 2rem;
		height: auto;
		margin-right: 0.5rem;

		// Tablet
		@media only screen and (min-width: 768px) {
			width: 3rem;
			height: auto;
			margin-right: 0.8rem;
		}
	}

	&:hover {
		color: black;
		font-size: 1.3rem;
	}

	// Tablet
	@media only screen and (min-width: 768px) {
		font-size: 1.2rem;
	}
}

.logo-wrapper--footer {
	font-size: 0.8rem;

	.logo--footer {
		width: 1.6rem;
		height: auto;
		margin-right: 0.3rem;

		// Tablet
		@media only screen and (min-width: 768px) {
			width: 2rem;
			height: auto;
			margin-right: 0.5rem;
		}
	}

	// Tablet
	@media only screen and (min-width: 768px) {
		font-size: 1rem;
	}
}

.logo-icon--wrapper {
	text-align: center;

	.logo--home-page {
		width: 4rem;
		height: auto;
		margin-top: 1rem;
		margin-bottom: 1.5rem;
	}
}
