@import 'styles/colors';

/* Page logo */

.logo-wrapper {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 300;

	.logo {
		margin-right: 0.8rem;
		transform: rotate(350deg);
	}

	&:hover {
		color: black;
		font-size: 1.5rem;
	}
}