@import 'styles/colors';

/* Navbar */

.navigation {
	background-color: #ffffff;
	border-bottom: 1px solid $accent-light;
	padding: 1.2rem 0;
}

.navbar-expand > .container {
	padding-left: 15px;
	padding-right: 15px;
}