/* Typography */

$default-font-family: 'Lato', sans-serif;


body {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 1.6rem;
	line-height: 2.3rem;
	margin-bottom: 2rem;
}

h2 {
	font-size: 1.3rem;
	line-height: 1.8rem;
}

p {
	font-weight: 300;
	letter-spacing: 0.04em;
}

.card-title {
	margin: 0
}

.heading__good-bye {
	text-align: center;
}

.info-ingress {
	font-style: italic;
}

.ingress {
	font-size: 1.2rem;
}

